@page


@{
    Layout = null;
}


<style>
    html, body {
        height: 100%;
        margin: 0px;
    }

    .container {
        width: 100%;
        height: 100%;
        /*margin: 20px;*/
        /*background: #f0e68c;*/
    }

    .aircadia_text1 > .webix_el_box {
        font-size: 22px;
        /*
        font-style: italic;
        color: #ffd800;
        background-color: #000000;
        */
    }

    .aircadia_text2 > .webix_el_box {
        font-size: 16px;
        /*
        font-style: italic;
        color: #ffd800;
        background-color: #000000;
        */
    }
</style>

<div id="layout_div" class="container">
    <!--<input type="file" onchange="loadFile()" />-->
</div>


<script src="https://unpkg.com/gojs/release/go-debug.js"></script>

<link rel="stylesheet" href="~/js/webix/codebase/webix.css" type="text/css" charset="utf-8">
<link href="~/js/webix/codebase/skins/mini.css" rel="stylesheet" type="text/css">
<script src="~/js/webix/codebase/webix.js" type="text/javascript" charset="utf-8"></script>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


<script src="~/js/aircadia/nebos-project.js"></script>
<script src="~/js/aircadia/Data.js"></script>
<script src="~/js/aircadia/Models.js"></script>
<script src="~/js/aircadia/Workflows.js"></script>

<script src="~/js/aircadia/ImportObjects.js"></script>














<script src="~/js/aircadia/Main.js"></script>



<script src="~/js/chat.js"></script>
